

{% extends "base.html" %}

{% block title %}All Posts{% endblock %}

{% block content %}
    <h1>All Posts</h1>
    {% for post in posts %}
        <h3>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h3>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% empty %}
        <p>No posts found.</p>
    {% endfor %}

    {# Include the pagination template here #}
    {% include "blog/pagination.html" with page_obj=posts %} {# Make sure to pass page_obj as 'posts' #}

{% endblock %}